<header class="header">
  <nav>
    <h1>
      <a href="{{ site.url }}/" class="header__logo">Seth Kranzler</a>
    </h1>
    <ul>
    {% for page in site.pages %} {% if page.title %}
      <li>
        <a href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
      </li>
    {% endif %}{% endfor %}
      <li>
        <a href="mailto:{{ site.email }}">
          <img src="{{ site.baseurl | prepend: site.url }}/assets/images/mail_icon.svg">
        </a>
      </li>
    </ul>
  </nav>
</header>