$content-width: 1200px;
$main: #19CCAA;
$font-style: "TeXGyreHeros-Regular", sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: "TeXGyreHeros-Bold", sans-serif;
$light: #E7EDF4;
$background-color: #EFEFEF;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
  font-family: "TeXGyreHeros-Regular";
  src: local("./fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular");
  src: url("./fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.woff2") format("woff2");
  src: url("./fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.woff") format("woff");
  src: url("./fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.eot");
  src: url("./fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.ttf") format("truetype");
  src: url("./fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.svg#TexGyreHeros-Regular") format("svg");
}

@font-face {
  font-family: "TeXGyreHeros-Bold";
  src: local("./fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold");
  src: url("./fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.woff2") format("woff2");
  src: url("./fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.woff") format("woff");
  src: url("./fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.eot");
  src: url("./fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.ttf") format("truetype");
  src: url("./fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.svg#TexGyreHeros-Bold") format("svg");
}