$content-width: 1200px;
$font-style: "TeXGyreHeros-Regular", sans-serif;
$font-color: black;
$link-hover-color: #0000ff;
$heading-font: "TeXGyreHeros-Bold", sans-serif;
$light: #E7EDF4;
$background-color: white;

@font-face {
  font-family: "TeXGyreHeros-Regular";
  src: local("../fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular");
  src: url("../fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.woff2") format("woff2");
  src: url("../fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.woff") format("woff");
  src: url("../fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.eot");
  src: url("../fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/TeXGyreHeros-Regular/TeXGyreHeros-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TeXGyreHeros-Bold";
  src: local("../fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold");
  src: url("../fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.woff2") format("woff2");
  src: url("../fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.woff") format("woff");
  src: url("../fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.eot");
  src: url("../fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/TeXGyreHeros-Bold/TeXGyreHeros-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NewYork";
  src: local("../fonts/NewYork/NewYork");
  src: url("../fonts/NewYork/NewYork.woff2") format("woff2");
  src: url("../fonts/NewYork/NewYork.woff") format("woff");
  src: url("../fonts/NewYork/NewYork.eot");
  src: url("../fonts/NewYork/NewYork.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/NewYork/NewYork.ttf") format("truetype");
}