.footer {
  text-align: center;
  padding: 40px;

  & nav ul {
    max-width: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  & nav li {
    display: inline;
    font-family: NewYork;
    font-size: 20px;
  }

  & nav a {
    text-decoration: none;
  }
}

#next_page {
  padding: 0 20px;
}