$cascade-distance: 2vw;
$cascade-width: 50vw;
$cascade-height: $cascade-width * 0.5625;
$cascade-bg-size: 40px;

$cascade-width-mobile: 80vw;
$cascade-height-mobile: $cascade-width-mobile * 0.5625;

.front-page__projects {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.front-page__project {
  margin-top: 100px;
  width: 100%;
  display: inline-block;
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
    margin-top: 20px;
  }

  position: relative;
  &:a {
    &:hover {
      cursor: pointer;
    }
  }
}

.front-page__project a {
  width: auto;
}

.front-page__project:nth-child(even) {
  @extend .front-page__project;
  & .front-page__project-cascade-wrapper {
    order: 2;
    @media (max-width: 800px) {
      order: 1;
    }
  }
  & .front-page__project-description {
    order: 1;
    margin-right: 40px;
    @media (max-width: 800px) {
      order: 2;
      margin-left: 40px;
    }
  }
}

.front-page__project:nth-child(odd) {
  @extend .front-page__project;
  & .front-page__project-cascade-wrapper {
    order: 1;
  }
  & .front-page__project-description {
    order: 2;
    margin-left: 40px;
  }
}

.front-page__project-cascade-wrapper {
  width: 100%;
  height: auto;
  // height: 0;
  // padding-bottom: 56.25%;
  // @media (max-width: 800px) {
  //   width: 100%;
  // }
  // margin-bottom: 50%;
  position: relative;
}

.front-page__project-cascade {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  // @media (max-width: 800px) {
  //   width: 100%;
  // }
  // padding-bottom: 50%;
  // position: relative;
}

.front-page__project-bg {
  position: absolute;
  height: 80%; //$cascade-height;
  width: 80%; //$cascade-width;
  left: 0px;
  top: 0px;
  background-repeat: repeat;
  z-index: -1;
  background-size: $cascade-bg-size $cascade-bg-size;
  background-color: black;

  // @media (max-width: 800px) {
  //   width: $cascade-width-mobile;
  //   height: $cascade-height-mobile;
  // }
}

.front-page__project-bg--offset-1 {
  left: $cascade-distance;
  top: $cascade-distance;
}

.front-page__project-bg--offset-2 {
  left: 2 * $cascade-distance;
  top: 2 * $cascade-distance;
}

.front-page__project-bg--offset-3 {
  left: 3 * $cascade-distance;
  top: 3 * $cascade-distance;
}

.front-page__project-video {
  display: block;
  position: absolute;
  height: 80%;
  width: 80%;
  filter: grayscale(100%);
  top: 4 * $cascade-distance;
  left: 4 * $cascade-distance;

  // @media (max-width: 800px) {
  //   width: $cascade-width-mobile;
  //   height: $cascade-height-mobile;
  // }

  &:hover {
    filter: inherit;
  }
}

.front-page__project-description {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
  }

  & p {
    width: 80%;
    margin: 0;
    font-size: 12px;
    margin-bottom: 30px;
    letter-spacing: .05em;
  }

  @media (max-width: 800px) {
    width: $cascade-width-mobile;
    height: auto;
    margin-top: 40px;
    justify-content: flex-start;
  }
}