.header {
  nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    & h1, li {
      font-family: NewYork;
      font-weight: normal;
    }

    & li {
      margin-bottom: 10px;

      & img {
        width: 20px;
        
      }
    }

    & h1 {
      margin: 4vw 0 0;
      font-size: 30px;
    }

    & a {
      text-decoration: none;
    }
    
    & ul {
      margin: 4vw 4vw 0 0;
    }
  }
}