body {
  width: 90vw;
  margin: auto;
  max-width: $content-width;
  color: $font-color;
  font-family: $font-style;
  font-size: 1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
}
h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  padding: 0;
  margin: 0;
}
// h1 {
//   color: $main;
//   font-size: 2.5em;
//   a,
//   a:visited {
//     text-decoration: none;
//     color: $main;
//   }
// }
h2 {
  font-size: 1em;
}
h3 {
  font-size: .8em;
}
a {
  text-decoration: underline;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

main {
  padding: 0 0;
  max-width: $content-width;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.hidden {
  position: absolute;
  left: -1000px;
}

//hide the webkit play controls (ios 8 and 9) and also for fallback image
.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
   opacity: 0;
   pointer-events: none;
   width: 5px;
}