<!DOCTYPE html>
<html>
{% include head.html %} {% include header.html %}

<body>
  <main>
    <div class="front-page__projects">
      {% for project in site.projects reversed %} {% if project.title %}
      {% capture index %}{{forloop.index | modulo: 2}}{% endcapture %}
      {% if index == "0" %}
      {% assign justification_class = "front-page__project--right" %}
      {% else %}
      {% assign justification_class = "front-page__project--left" %}
      {% endif %}
      <div class="front-page__project {{justification_class}}">
        <a href="{{ project.url | prepend: site.url }}">
          <video poster="{{ project.poster }}" class="front-page__project-video" src="{{ project.vid }}" loop preload></video>
        </a>
        <div class="front-page__project-description">
          <div class="front-page__project-description--align-bottom">
            <h4>{{ project.title }}</h4>
            <p>{{ project.description }}</p>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <section>
      {{ content }}
    </section>
  </main>
  {% include footer.html %}
  <script type="text/javascript">
  var figure = $(".front-page__project-video").hover(hoverVideo, hideVideo);

  function hoverVideo(e) {
    this.play();
  }

  function hideVideo(e) {
    this.pause();
  }
  </script>
</body>

</html>
