<!DOCTYPE html>
<html>
{% include head.html %} {% include header.html %}

<body>
  <main>
    <div class="front-page__projects">
      {% for project in site.projects reversed %} {% if project.title %}
      <div class="front-page__project">
        <div class="front-page__project-cascade">
          <div class="front-page__project-bg">
            <div class="front-page__project-bg front-page__project-bg--offset"></div>
          </div>
          <a href="{{ project.url | prepend: site.url }}">
            <video poster="{{ project.poster }}" class="front-page__project-video" src="{{ project.vid }}" loop preload></video>
          </a>
        </div>
        <div class="front-page__project-description">
          <h4>{{ project.title }}</h4>
          <p>{{ project.description }}</p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <section>
      {{ content }}
    </section>
  </main>
  {% include footer.html %}
  <script type="text/javascript">
  var figure = $(".front-page__project-video").hover(hoverVideo, hideVideo);

  function hoverVideo(e) {
    this.play();
  };

  function hideVideo(e) {
    this.pause();
  };

  function setBg(divs) {
    $(divs).each(function(div){
      var index = Math.floor(Math.random() * 26) + 1;
      $(divs[div]).css("background-image", "url(\"../images/pattern_" + index + ".svg\")");
    });
  }

  var elements = $(".front-page__project-cascade");
  elements.each(function(index) {
    setBg($(elements[index]).find(".front-page__project-bg"));
  });
  </script>
</body>

</html>
